body{
/*background-color: red;
*/
background-image: url("../Images/NavyBlue.jpg");
  width:60%;
  margin: 0 auto;

  font-family: Comic Sans MS !important;
}

header{
  background-color: green;
  height:30%;
}

main{
  background-color: blue;
  max-height: 40%;
  height:200%;
  max-width: 100%;
  width:auto;
}


footer{
  background-color:purple;
}
/*
h1 {
  margin:0;
  padding: 0 0 0 0;
}
*/
h2 {
  margin:0 auto;
  padding: 0px 0px 0px 0px;
  text-decoration:none;
  text-align:center;
  /*overflow: hidden; */
  /*list-style-type: none; */
}

h3 {
  margin:0 auto;
  padding: 0px 0px 0px 0px;
  text-decoration:none;
  text-align:center;
}
.threshold {
  max-width: 300px;  /* changes per size of image */
  max-height:300px;
  margin: 0 auto;
}

.boxes {
  height:100%;
}

#leftbox {
  background-color:yellow;
}

#rightbox {
  background-color:grey;
}

#midbox {
  background-color:orange;
}


#websiteTitle {
  background-color: white;
  text-align:center;
}

#menubar {
  background-color:purple;

  width:16%;
  height:10%;
  margin:auto auto;
}

#searchbar{
  justify-content:center;
  text-align: center;
}

.parent {
  background-color: white;
  display:flex;
  flex-flow:nowrap;
  justify-content:space-evenly;
  height: 70%;
}

.child {
  /*padding: 20px 20px 20px 20px; */
  /*background-color:purple;*/
  width:30%;
  height:100%;
}

/*nav bar css*/
nav>ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

nav>ul>li {
  float:left;
}

nav>ul>li a {
  display: block;
  color:#000000;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
}

li a:hover {
  color: #363636;
}








/*

body{


  /*
  background: url("../Images/RossKemp.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  */
  /*background-color: red;
  margin-left: 10%;
  margin-right: 10%;
}

html, body



#WebsiteName{
  background-color: yellow;
  width: auto;
  float: left;
}

#LoginH{
  display: inline-block;
}

#mostPopular,#lowestRated,#newestAddition{
  width: 29%;
  margin: 2%;
  height: auto;
  border: 3px solid green;
}

#searchBar{
  text-align: center;
  margin: 10px;
}

.flex-content{
  display: -webkit-flex;
  display: flex;
}

.flex-header{
  display: inline-block;
  border: 3px solid green;
  margin: 2%;
  width: 96%;
  text-align: center;
}
*/
