/* main section manipulation */

body{
  background-color:#131E3C;
  width:60%;
  margin: 0 auto;

  font-family: 'Viga', sans-serif;
}

header{
  /*background-color: #7D8491; */
  background-color:yellow;
  height:30%;

  /*font-family: 'Pacifico', cursive !important */;
}

main{
  background-color: red;
  max-height: 60%;
  height:100%;
  max-width: 100%;
  width:auto;
}

footer{
  background-color:white;
  text-align: center;
}

/* end of section manipulation */

/* Text and Caption manipulation */
h1 {
  font-family: 'Pacifico', cursive;
  color:white;
  font-size: 48;
}

h2 {
  margin:0 auto;
  padding: 0px 0px 0px 0px;
  text-decoration:none;
  text-align:center;
  /*overflow: hidden; */
  /*list-style-type: none; */
}

h3 {
  margin:0 auto;
  padding: 10px 0px 0px 0px;
  text-decoration:none;
  text-align:center;
}

/* End of text and caption manipuloation */

/* container manipulation */
.threshold {
  max-width: 75%;  /* changes per size of image */
  max-height:100%;
  margin: 0 auto;
}

.boxes {
  height:100%;
}

.parent {
  background-color: #914D76;
  display:flex;
  flex-flow:nowrap;
  justify-content:space-evenly;
  height: 100%;
}

.child {
  /*padding: 20px 20px 20px 20px; */
  background-color:purple;
  width:30%;
  height:80%;
}

/* end of container manipulation */

/* element manipulation */
#menubar {
  position:absolute;
  top:15%;
  text-align:center;
  right: 46%;
  width: 150px;
  height:10%;
  margin:auto auto;
}

#menubar>nav>ul>li>a{
  color:#fff;
}


#searchbar {
  top:20%;
  left:41%;
  position:absolute;
  justify-content:center;
  text-align: left;
}

#bannerZone {
  width:100%;
  height:100%;
}

#banner {
  width:100%;
  height:100%;
  position:relative;
}

#websiteTitle {
  /* background-color: red; */
  /* height:20%; */
  width:60%;
  /*margin:0 auto; */
  top:0%;
  position:absolute;
  text-align:center;
}

#leftbox {
  /*background-color:#C0C5C1; */
  background-color:#611C35;
}


#rightbox {
  background-color:#861657;
}

#midbox {
  background-color:#124E78;
}



#submit {
  /*padding:0 0 0 0;
  margin:0; */
}

#searchform {
  padding: 0 0 0 0;
  margin:0;

}

#searchbox {
  padding: 0 0 0 0;
  /*margin:0; */
}

/* end ofelement manipulation */

/*nav bar css*/
nav>ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;

}

nav>ul>li {
  float:left;
}

nav>ul>li a {
  display: block;
  color:#000000;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
}

li a:hover {
  color: #363636;
}

#seemore{


}







/*

body{


  /*
  background: url("../Images/RossKemp.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  */
  /*background-color: red;
  margin-left: 10%;
  margin-right: 10%;
}

html, body



#WebsiteName{
  background-color: yellow;
  width: auto;
  float: left;
}

#LoginH{
  display: inline-block;
}

#mostPopular,#lowestRated,#newestAddition{
  width: 29%;
  margin: 2%;
  height: auto;
  border: 3px solid green;
}

#searchBar{
  text-align: center;
  margin: 10px;
}

.flex-content{
  display: -webkit-flex;
  display: flex;
}

.flex-header{
  display: inline-block;
  border: 3px solid green;
  margin: 2%;
  width: 96%;
  text-align: center;
}
*/
