body{
  /*background: url("../Images/RossKemp.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  */

  margin-left: 5%;
  margin-right: 5%;
  background-color: black;
}

#WebsiteName{
  background-color: white;
  width: auto;
  float: left;
}

#LoginH{
  display: inline-block;
  float: right;
}

#mostPopular,#lowestRated,#newestAddition{
  width: 29%;
  margin: 2%;
  height: auto;
  border: 3px solid white;
  background-color: white;
}

#searchBar{
  text-align: center;
  margin: 10px;
}

.flex-content{
  display: -webkit-flex;
  display: flex;
}

.flex-header{
  display: inline-block;
  border: 3px solid white;
  margin: 2%;
  width: 96%;
  text-align: center;
}
