<html>

  <head>

    <% include ../partials/head %>

    <title id="Title">Movie Review Hub</title>

  </head>

  <body onload="Content()">

      <header>

        <% include ../partials/header %>

      </header>

      <main>

        <div class="parent">
          <div class="child">
            <section class="boxes" id="leftbox">
              <h2>Newest Additions<h2>
              <div class="threshold"> <!-- image threshold -->
                <img src="/Images/placeholder.jpg" width="100%" alt="">
                <h3>Movie Title</h3>
              </div>
              <button id="seemore">See more...</button>
            </section>
          </div>

          <div class="child">
            <section class="boxes" id="midbox">
              <h2>Least Popular<h2>
              <div class="threshold"> <!-- image threshold -->
                <img src="/Images/placeholder.jpg" width="100%" alt="">
                <h3>Movie Title</h3>
              </div>
              <button id="seemore">See more...</button>
            </section>
          </div>

          <div class="child">
            <section class="boxes" id="rightbox">
              <h2>Lowest Rated<h2>
              <div class="threshold"> <!-- image threshold -->
                <img src="/Images/placeholder.jpg" width="100%" alt="">
                <h3>Movie Title</h3>
              </div>
              <button id="seemore">See more...</button>
            </section>
          </div>
        </div>



      </main>

      <footer>
        <% include ../partials/footer %>
      </footer>

  </body>

</html>
