<html>

  <head>
    <% include ../partials/head %>
    <title>Movie Page</title>

  </head>
  <header>
    <% include ../partials/header %>
  </header>

  <body onload="ShowMovie()">

    <main>

    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>

</html>
