<html>

  <head>
    <% include ../partials/head %>
    <title>Movie Page</title>
    <script type="text/javascript" src="/JS/Login.js"></script>

  </head>
  <header>
    <% include ../partials/header %>
  </header>

  <body onload="yes()">

    <main>
      <div id = "searchResults">

        <form onsubmit="Login()">
          <input type="text" name="firstname" id="firstname">
          <input type="text" name="surname" id="surname">
          <input type="text" name="username" id="username">
          <input type="password" name="password" id="password">
        </form>

      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>

</html>
