<html>

  <head>
    <% include ../partials/head %>
    <title>Movie Page</title>
    <script type="text/javascript" src="/JS/Login.js"></script>

  </head>
  <header>
    <% include ../partials/header %>
  </header>

  <body onload="yes()">

    <main>
      <div id = "searchResults">

      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>

</html>
