<html>

  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" text="text/css" href="/CSS/SearchPage.css"></link>
    <title>SearchPage</title>

  </head>
  <header>
    <% include ../partials/header %>
  </header>

  <body onload="ShowMovies()">

    <main>
      <div id = "searchResults">

      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>

</html>
